@import url("https://fonts.googleapis.com/css2?family=Overpass&display=swap");

body {
  font-family: "Overpass";
  background-color: hsl(216, 12%, 8%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
}

* {
  margin: 0;
  padding: 0;
}
